body {
 	height: 100%;
 	background-color: #333;
 	color: #fff;
}
.thumbnail{
	padding:unset;
	margin-bottom: 0;
	border:none;
	background:transparent;
}
a.thumbnail:hover {
    border-color: #333;
 }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredCol{
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.imgContainer{
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: 2%;
	border: 1px solid #333;
}
.imgContainer:hover > .thumbnail > .mapPic{
	transform: scale(1.1);
}
.imgContainer:hover{
	border-color: #fff;
}
.h1{
	margin-top: 0;
	margin-bottom: 0;
}
.noLinkLook{
	color: #fff;
}
.noLinkLook:hover{
	color: #fff;
	text-decoration: none;
}
.smokes{
	stroke:#fff;
	stroke-width:1.1;
	opacity:.4;
	fill:#fff;
}
.smokes:hover{
	opacity: 1;
}
.flashes{
	stroke:#fff;
	stroke-width:1.1;
	opacity:.4;
	fill:#fff;
}
.flashes:hover{
	opacity: 1;
}
.modal-content{
	background-color:#333;
}
.close{
	color:inherit;
}
.close:hover{
	color:inherit;
}
.overlay{
	width: 100%;
 	height: 100%;
 	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding-left: 15px;
	padding-right: 15px;
}
.svgClass{
	z-index: 1;
}
.btn{
	background-color: #222;
	color: #9d9d9d;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover{
	color:#fff;
	background-color: #000;
}
.btn.active.focus{
	outline:none;
	color: #9d9d9d;
}
.btn:focus{
	outline:none;
	color: #9d9d9d;
}
.btn:focus:hover{
	color:#fff;
}
.btn.active:hover, .btn.focus:hover, .btn.active.focus:hover{
	color:#fff;
}
#filter:hover{
	color: #9d9d9d;
	background-color: #222;
	cursor: default;
}