body {
 	height: 100%;
 	background-color: #333;
 	color: #fff;
}
.row{
	margin-bottom: 20px;
}
.thumbnail{
	padding:unset;
	margin-bottom: 0;
	border:none;
	background:transparent;
}
a.thumbnail:hover {
    border-color: #333;
 }
.img-responsive{
	border-radius:2%;
	transition: transform .3s;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredCol{
    position: relative;
    text-align: center;
    color: white;
}
.imgContainer{
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: 2%;
	border: 1px solid #333;
}
.imgContainer:hover > .thumbnail > .img-responsive{
	transform: scale(1.1);
}
.imgContainer:hover{
	border-color: #fff;
}
/*.imgContainer:hover > .centered > a.noLinkLook{
	text-shadow: white 0px 0px 10px;
}*/
.h1{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4vw;
}
.noLinkLook{
	color: #fff;
}
.noLinkLook:hover{
	color: #fff;
	text-decoration: none;
}
.smokes{
	stroke:#fff;
	stroke-width:1.1;
	opacity:.4;
	fill:#fff;
}
.smokes:hover{
	opacity: 1;
}
.modal-content{
	background-color:#333;
}
.close{
	color:inherit;
}
.close:hover{
	color:inherit;
}